.nav-container {
  width: 100vw;
  background-color: transparent;
}
.desktop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 103px;
  flex-shrink: 0;
  opacity: 0.2;
  background: transparent;
}
@media screen and (max-width: 600px) {
  .desktop-container {
    display: none;
  }
}
.link {
  text-decoration: none;
}
.desktop-min-container {
  display: flex;
  flex-direction: row;
}

.website-logo {
  width: 135.001px;
  height: 39px;
  flex-shrink: 0;
  margin-right: 10px;
}
.desktop-ul-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.desktop-list {
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: HK Grotesk;
  font-size: 16px;
  font-style: normal;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.356px;
  margin-right: 10px;
}
.desktop-list-select {
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: HK Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.356px;
  margin-right: 10px;
}
.desktop-right-containe {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 400px;
}
.icon {
  margin-left: 10px;
}
.icon-select {
  margin-left: 10px;
  box-shadow: 1px 1px 1p 1px #ffffff;
}
.account-image-image {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-right: 10px;
}
.account-image-image-select {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-right: 10px;
  box-shadow: 2px 2px 2px 2px #ffffff;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 75px;
  flex-shrink: 0;
  opacity: 0.2;
  background: transparent;
}
@media screen and (min-width: 700px) {
  .mobile-container {
    display: none;
  }
}
.mobile-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
}
.mobile-logo {
  width: 100px;
  height: 27px;
  flex-shrink: 0;
}
.mobile-ul-list {
  display: flex;
}
.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-ul-list {
  display: flex;
  width: 100px;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  align-items: center;
  background-color: transparent;
}
.input-1 {
  width: 100%;
  display: inline-flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.input-container {
  display: flex;
  height: 40px;
  width: 200px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}
.searclcon {
  background-color: #131313;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.no-video-container {
  background-color: transparent;
  height: 80%;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-video-img {
  width: 250px;
  margin-bottom: 10px;
}
.no-video-text {
  font-family: Roboto;
  font-weight: bold;
  color: #ffff;
  text-align: center;
}

.search-video-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  height: 85vh;
  overflow-y: auto;
  width: 100vw;
}
